<h3>Calculations</h3>

<div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <input class="form-control" readonly>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3"><button class="btn btn-default btn-block btn-lg">AC</button></div>
        <div class="col-xs-3"><button class="btn btn-default btn-block btn-lg">**</button></div>
        <div class="col-xs-3"><button class="btn btn-default btn-block btn-lg">sqrt</button></div>
        <div class="col-xs-3"><button class="btn btn-default btn-block btn-lg">+/-</button></div>
        <div class="col-xs-3"><button class="btn btn-default btn-block btn-lg">7</button></div>
        <div class="col-xs-3"><button class="btn btn-default btn-block btn-lg">8</button></div>
        <div class="col-xs-3"><button class="btn btn-default btn-block btn-lg">9</button></div>
        <div class="col-xs-3"><button class="btn btn-default btn-block btn-lg">*</button></div>
        <div class="col-xs-3"><button class="btn btn-default btn-block btn-lg">4</button></div>
        <div class="col-xs-3"><button class="btn btn-default btn-block btn-lg">5</button></div>
        <div class="col-xs-3"><button class="btn btn-default btn-block btn-lg">6</button></div>
        <div class="col-xs-3"><button class="btn btn-default btn-block btn-lg">/</button></div>
        <div class="col-xs-3"><button class="btn btn-default btn-block btn-lg">1</button></div>
        <div class="col-xs-3"><button class="btn btn-default btn-block btn-lg">2</button></div>
        <div class="col-xs-3"><button class="btn btn-default btn-block btn-lg">3</button></div>
        <div class="col-xs-3"><button class="btn btn-default btn-block btn-lg">+</button></div>
        <div class="col-xs-6"><button class="btn btn-default btn-block btn-lg">0</button></div>
        <div class="col-xs-3"><button class="btn btn-default btn-block btn-lg">.</button></div>
        <div class="col-xs-3"><button class="btn btn-default btn-block btn-lg">-</button></div>
        <div class="col-xs-3 col-xs-offset-9"><button class="btn btn-default btn-block btn-lg btn-primary">=</button></div>
      </div>
    </div>
  </div>
</div>
{{outlet}}
